.header {
	line-height: 58px;
	background: url(/img/header_bg.gif) #F6F6F6 repeat-x;
	border-bottom: 1px solid #DDD;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	z-index: 1000;
}
.input-block-level, SELECT, INPUT {
	min-height: 20px !important;
}
IMG {
	height: 100% !important;
}