<?xml version="1.0"?>
<!DOCTYPE metaconfiguration SYSTEM "meta.dtd">

<!-- $Id$ -->

<metaconfiguration>

<include file="common.xml" generate="false" />
<include file="user.xml" generate="false" />
<include file="realty.xml" generate="true" />
<include file="article.xml" generate="true" />
<include file="content.xml" generate="false" />

<classes/>

</metaconfiguration>
