<?xml version="1.0"?>
<!DOCTYPE metaconfiguration SYSTEM "meta.dtd">

<!-- $Id$ -->

<metaconfiguration>
<classes>

	<class name="Language">
		<properties>
			<identifier name="id" />
			<property name="name" type="String" size="16" required="true" />
			<property name="code" type="String" size="2" required="true" />
			<property name="native" type="String" size="16" required="true" />
			<property name="active" type="Boolean" required="true" />
		</properties>
		<pattern name="DictionaryClass" />
	</class>

	<class name="i18n">
		<properties>
			<identifier name="id" />
		</properties>
		<pattern name="AbstractClass" />
	</class>
	
	<class name="Unit" extends="i18n">
		<properties>
			<property name="name" type="String" size="16" required="true" />
			<property name="sign" type="String" size="16" required="true" />
		</properties>
		<pattern name="StraightMapping" />
	</class>

	<class name="Unit_i18n">
		<properties>
			<identifier name="id" />
			<property name="object" type="Unit" relation="OneToOne" required="true" fetch="lazy" />
			<property name="language" type="Language" relation="OneToOne" required="true" fetch="lazy" />
			<property name="name" type="String" size="16" required="true" />
		</properties>
		<pattern name="StraightMapping" />
	</class>


</classes>
</metaconfiguration>
