#i18nBlock .nav {
	margin-bottom: 0px;
}

#i18nBlock .tab-content {
	border: 1px solid #ddd;
	border-top: none;
	padding-top: 20px;
	margin-bottom: 20px;
}
.red {
	color: red;
}
.green {
	color: green;
}
.dragStarted TD {
	background-color: #CFC !important;
}
.dragMoved TD { 
	background-color: #FEE !important;
}
